<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medi Caption</title>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url("https://images.unsplash.com/photo-1584017911766-d451b3d0e843?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            background-size: cover;
        }

        .cards-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .card {
            width: 300px;
            padding: 20px 35px; /* Adjusted padding */
            border-radius: 8px;
            backdrop-filter: blur(20px);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
            text-align: center;
            border-radius: 10px;
            border: 2px solid rgba(255, 255, 255, 0.1);
            overflow: hidden;
            margin: 0 20px; /* Added margin */
        }

        .card:hover {
            transform: scale(1.05);
            transition: 0.5s;
        }

        img {
            border-radius: 50%;
            max-width: 100%;
            height: 180px; /* Adjusted height */
            object-fit: cover;
        }

        h2 {
            color: #333;
        }

        p {
            color: white;
            margin-bottom: 20px;
        }

        .CardButton {
            margin-top: 20px;
            width: 100%;
            background-color: black;
            color: white;
            padding: 15px 0;
            font-size: 22px;
            font-weight: 500;
            border-radius: 5px;
            cursor: pointer;
        }
        .logout-button {
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            border-radius: 4px;
            cursor: pointer;
            height: 20px;
            width: 20px;
            padding: 10px 20px; /* Adjusted padding */
            backdrop-filter: blur(20px);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
            text-align: center;
            border: 2px solid rgba(255, 255, 255, 0.1);
            overflow: hidden;
            margin: 0 20px; /* Added margin */
        }
        .logout-image {
            height: 25px;
            width: 30px;
            border-radius: 1%;
        }
        .logout-button:hover {
            transform: scale(1.05);
            transition: 0.5s;
        }
        .logo-image{
            position: absolute;
            height: 35%;
            width: 35%;
            top: -40px;
            right: 485px;
            transition: .1s ease;
        }
        
        .logo-image:hover {
            -webkit-transform: rotateZ(-10deg);
            -ms-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
            transition: 1s ease;
        }

    </style>
</head>
<body>
    <div class="cards-container">
        <!-- <div class="card">
            <img src="https://pngimg.com/d/plus_PNG12.png" alt="">
            <h2>TODO: </h2>
            <p>Make a header and for navigation, common for all the pages</p>
            <p>Include name of the app in the header "Medi Captions"</p>
            <p>Include a logout button in the header, it is a functioning link, just place it where needed</p>
            <h1><a href="/logout">Logout</a></h1>
            <button onclick="location.href='/moredetail'">Click Here</button>
        </div> -->
        <div class="logo-icon">
            <img class="logo-image" src="https://i.postimg.cc/FKzfQQYC/Medi-Caption-removebg-preview.png" alt="">
            
        </div>
        
        <div class="logout-button" onclick="location.href='/logout'">
            <img class="logout-image" src="https://cdn1.iconfinder.com/data/icons/heroicons-ui/24/logout-512.png" alt="">
        </div>
        
        <div style="position: absolute; top: 2px; left: 20px;">
            <img onclick="location.href='/moredetail'" style="object-fit: cover; height: 10%; width: 10%;" class="Profile_Image"src="https://upload.wikimedia.org/wikipedia/commons/4/41/Profile-720.png" alt="">
        </div>
    
        <a href="/patientf">
            <div class="card">
                <img src="https://pngimg.com/d/plus_PNG12.png" alt="">
                <h2>Create Patient</h2>
            </div>
        </a>
        

        <a href="/previouscaptions">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Google_Magnifying_Glass.svg/1200px-Google_Magnifying_Glass.svg.png" alt="">
                <h2>Previous Captions</h2>
            </div>
        </a>
        
        <a href="/upload">
            <div class="card">
                <img src="https://freepngimg.com/save/55592-gallery-free-hq-image/964x912" alt="">
                <h2>Create Caption</h2>
            </div>
        </a>
        
    </div>
</body>
</html>
