<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <style>
        /* CSS converted from SCSS */
        body {
            margin: 0;
            /* background-color: #eaeaea; */
            background-image: url("https://images.unsplash.com/photo-1517699921475-26c786af7158?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            background-size: cover;
            display: grid;
            height: 100vh;
            place-items: center;
            font-family: 'Source Sans Pro', sans-serif;
        }

        .leaderboard {
            max-width: 990px;
            width: 100%;
            border-radius: 12px;
            box-shadow: 0 0 40px -10px rgba(0, 0, 0, .4);
        }

        .leaderboard header {
            height: 130px;
            backdrop-filter: blur(10px);
            position: relative;
            border-radius: 12px 12px 0 0;
            overflow: hidden;
        }

        .leaderboard__title {
            position: absolute;
            z-index: 2;
            top: 50%;
            right: calc(15% * .75);
            transform: translateY(-50%);
            text-transform: uppercase;
            margin: 0;
        }

        .leaderboard__title span {
            display: block;
        }

        .leaderboard__title--top {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 6.5px;
        }

        .leaderboard__title--bottom {
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 3.55px;
            opacity: .65;
            transform: translateY(-2px);
        }

        .leaderboard__icon {
            fill: #fff;
            opacity: .35;
            width: 50px;
            position: absolute;
            top: 50%;
            left: 15%;
            transform: translate(-50%, -50%);
        }

        .leaderboard__profiles {
            background-color: #fff;
            border-radius: 0 0 12px 12px;
            padding: 15px 15px 20px;
            display: grid;
            row-gap: 8px;
            opacity: 0;
            transform: translateY(-20px);
            transition: opacity 0.5s ease-out, transform 0.5s ease-out;
        }

        .leaderboard__profiles.show {
            opacity: 1;
            transform: translateY(0);
        }

        .leaderboard__profile {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            align-items: center;
            padding: 10px 30px 10px 10px;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
            cursor: pointer;
            transition: transform .25s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
            background-color: #fff;
        }

        .leaderboard__profile:hover {
            transform: scale(1.2);
            box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
        }

        .leaderboard__picture {
            max-width: 100%;
            width: 60px;
            border-radius: 50%;
            box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
        }

        .leaderboard__name {
            color: #979cb0;
            font-weight: 600;
            font-size: 20px;
            letter-spacing: 0.64px;
            margin-left: 12px;
        }

        .leaderboard__value {
            color: #35d8ac;
            font-weight: 700;
            font-size: 10px;
            text-align: center;
            margin-left: -223px;
        }

        .leaderboard__value > span {
            opacity: .8;
            font-weight: 600;
            font-size: 5px;
            margin-left: 0px;
        }
    
        .searchBox {
            position: absolute;
            margin-top: -60px;
            margin-left: 0px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            background: #2f3640;
            height: 40px;
            border-radius: 40px;
            padding: 10px;
        }

        .searchBox:hover > .searchInput {
            width: 240px;
            padding: 0 6px;
        }

        .searchBox:hover > .searchButton {
            background: #2f3640;
            color: white;
        }

        .searchButton {
            color: white;
            float: right;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #2f3640;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s;
        }

        .searchInput {
            border: none;
            background: none;
            outline: none;
            float: left;
            padding: 0;
            color: white;
            font-size: 16px;
            transition: 0.4s;
            line-height: 40px;
            width: 0px;
        }

        @media screen and (max-width: 620px) {
            .searchBox:hover > .searchInput {
                width: 150px;
                padding: 0 6px;
            }
        }
    </style>
</head>
<body>
    <article class="leaderboard">
        <header>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve" class="leaderboard__icon">
                <!-- SVG content -->
            </svg>
            <div class="searchBox">

                <input class="searchInput"type="text" name="" placeholder="Search">
                <button class="searchButton" href="#">
                    <i class="material-icons">
                        search
                    </i>
                </button>
            </div>
        </header>

        <form class = "leaderboard__profiles" action="">
            <article class="leaderboard__profile">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Normal_posteroanterior_%28PA%29_chest_radiograph_%28X-ray%29.jpg" alt="Mark Zuckerberg" class="leaderboard__picture">
                <span class="leaderboard__name">Mark Zuckerberg</span>
                <span class="leaderboard__value"> This is a chest X-ray is a diagnostic image a technique that uses low doses of radiation to capture images of the heart, lungs, and surrounding structures. It is commonly employed to assess respiratory conditions, detect abnormalities, and aid in the diagnosis of various pulmonary and cardiac disorders.<span>B</span></span>
            </article>

            <article class="leaderboard__profile">
                <img src="https://randomuser.me/api/portraits/men/97.jpg" alt="Dustin Moskovitz" class="leaderboard__picture">
                <span class="leaderboard__name">Dustin Moskovitz</span>
                <span class="leaderboard__value">9.9<span>B</span></span>
            </article>

            <article class="leaderboard__profile">
                <img src="https://randomuser.me/api/portraits/women/17.jpg" alt="Elizabeth Holmes" class="leaderboard__picture">
                <span class="leaderboard__name">Elizabeth Holmes</span>
                <span class="leaderboard__value">4.5<span>B</span></span>
            </article>

            <article class="leaderboard__profile">
                <img src="https://randomuser.me/api/portraits/men/37.jpg" alt="Evan Spiegel" class="leaderboard__picture">
                <span class="leaderboard__name">Evan Spiegel</span>
                <span class="leaderboard__value">2.1<span>B</span></span>
            </article>

            <article class="leaderboard__profile">
                <img src="https://randomuser.me/api/portraits/women/17.jpg" alt="Elizabeth Holmes" class="leaderboard__picture">
                <span class="leaderboard__name">Elizabeth Holmes</span>
                <span class="leaderboard__value">4.5<span>B</span></span>
            </article>

            <article class="leaderboard__profile">
                <img src="https://randomuser.me/api/portraits/men/37.jpg" alt="Evan Spiegel" class="leaderboard__picture">
                <span class="leaderboard__name">Evan Spiegel</span>
                <span class="leaderboard__value">2.1<span>B</span></span>
            </article>

            <article class="leaderboard__profile">
                <img src="https://randomuser.me/api/portraits/women/17.jpg" alt="Elizabeth Holmes" class="leaderboard__picture">
                <span class="leaderboard__name">Elizabeth Holmes</span>
                <span class="leaderboard__value">4.5<span>B</span></span>
            </article>
        </form>

    </article>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.leaderboard__profiles').classList.add('show');
        });
    </script>
</body>
</html>
